%container {
    max-width: $gap * 67;
    margin: auto;
    padding-right: $gap;
    padding-left: $gap;
}

%sections {
    @include lg-min {
        padding-top: $gap * 5;
        padding-bottom: $gap * 5;    
    }

    @include lg-md {
        padding-top: $gap * 4;
        padding-bottom: $gap * 4;
    }

    @include md {
        padding-top: $gap * 3;
        padding-bottom: $gap * 3;
    }
}

%heading {
    margin-top: 0;
}

%button_width {
    display: flex;
    justify-content: center;
}
